.bettingChoiceBox {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    display: flex;
    flex-flow: column;
    width: 100%;
    border: 2px solid #494c67;
    border-radius: 8px;
    background-color: #262e64;
}

/* 파워볼 data / count 제목 상자 */
.bettingGameTitleBox {
    display: flex;
    align-items: center;
    padding: 10px;
}

.ballIcon {
    width: 20px;
}

.currentGameTitle {
    margin-left: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #f9e06c;
}