.wrap {
    padding-left: 20px;
}

.alertSpan {
    color: red;
}

.guideImg {
    display: block;
    margin-top: 10px;
}

.downloadSpan {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}