.bettingWrap {
    position: relative;
    display: flex;
    flex-flow: column;
    padding: 10px 10px 20px;
    border-radius: 5px;
    background-color: #0d0f24;
    border: 2px solid #a7a7a7;
}


.gameTitleBox {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    color: #c0c1e9;
}

.gameTitle {
    font-size: 2rem;
    font-weight: bold;
}

.gameTitle::after {
    content: "";
    display: inline-block;
    position: relative;
    width: 2px;
    height: 14px;
    top: 3px;
    margin: 0 7px;
    background-color: #c0c1e9;
}

.gameTitleBox ~ span {
    font-size: 1.2rem;
}

.bettingBoard {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5px 200px;
    grid-template-columns: 1fr 200px;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    column-gap: 5px;
    margin-bottom: 10px;
}


/* 모바일 시작 */
@media screen and (max-width : 1024px) {
    .bettingWrap {
        border-radius: 0;
        border: none;
    }
    .bettingBoard {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: auto 5px auto;
        grid-template-rows: repeat(2, auto);
        row-gap: 5px;
    }
}